@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

body {
    background-image: linear-gradient(to right, #E7B7C8, #47CACC);
}

h1{
    text-align: center;
    font-family: 'Fredoka One', cursive;
    color: #c77a95;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 50px;
    align-items: center;
    grid-gap: 45px ;
}

img {
    object-fit: cover;
}

.grid > article {
    box-shadow: 10px 5px 5px 0px rgb(37, 84, 102);
    border-radius: 30px;
    text-align: center;
    background: whitesmoke;
    transition: transform;
}

.grid > article img {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
}

.konten {
    cursor: progress;
}

.grid > article:hover {
    transform: scale(1.1);
}

@media (max-width:1000px){
    .grid{
        grid-template-columns: repeat(4,1fr);
    }
}
