.row {
    margin-top: 5px;
    margin-bottom: 2px;
}

.table_header h2 {
    margin-left: auto;
    padding-left: 10px;
    font-size: 15px;
    font-family: times 'Times New Roman', Times, serif;
}

.table :right {
    color: #286d77;
}

h2 {
    color: #286d77;
}